@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');

* {
    margin: 0;
}

body {
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
}

#winner {
    font-family: 'Roboto', sans-serif;
    font-size: 3em;
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    height: 60vh;
    width: 60vh;
}

.mark-space {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.8em;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    cursor: pointer;
}

.first {
    border-right: 4px solid black;
    border-bottom: 4px solid black;
}

.second {
    border-bottom: 4px solid black;
}

.third {
    border-left: 4px solid black;
    border-bottom: 4px solid black;
}

.bottom {
    border-bottom: none;
}


#score-container {
    position: absolute;
    top: 5px;
    right: 5px;
    width: 20%;
    padding: 2%;
    border: 1px solid black;
    font-size: 1.5em;
}


#score-text {
    font-weight: bold;
    font-family: "Roboto", sans-serif;
}

#x-score, #o-score {
    font-family: "Roboto", sans-serif;
    font-weight: lighter;
}